#container {
  width: 1000px;
  margin: 0 auto;
}

/* 헤더영역 */
header {
  background-color: rgb(52, 52, 110);
  overflow: hidden;
}
nav {
  float: right;
  /* width: 500px; */
  /* height: 20px; */
}
nav li {
  float: left;
  /* padding-right: 30px; */
  list-style: none;
  padding: 30px;
}
nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
img {
  margin-top: 30px;
  float: right;
  width: 300px;
  height: 500px;
}
section {
  float: left;
}


section ul {
  list-style-position: inside;
  line-height: 50px;
}
#i {
  list-style-type: upper-roman;
}
.top {
  width: 100px;
  height: 100px;
  text-align: center;
  background: red;
  border-radius: 100%;
  position: fixed;
  right: 20px;
  bottom: 30px;
  line-height: 100px;
}
.top a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* footer 영역 */
footer {
  padding: 10px;
  background-color: blue;
  clear: both;
  text-align: center;
  color: white;
  font-weight: bold;
}
footer p {
  margin-top: 0;
}