    h3 {
      text-align: center;
    }
    table {
      margin: 0 auto;
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
    }
    td,th{
      padding: 10px;
      border: 1px solid black;
    }
    th {
      background-color: beige;
    }
    button {
      cursor: pointer;
    }