#container {
  width: 1200px;
  height: 550px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(71, 71, 71);
  position: relative;
  color: rgb(80, 80, 80);
  
}

.travel-card {
  width: 250px;
  height: 340px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 14px;
  margin-bottom: 20px;
  float: left;
  padding: 10px;
}

/* #card1 {
  left: 10px;
}

#card2 {
  left: 322px;
}

#card3 {
  right: 322px;
}

#card4 {
  right: 10px;
} */

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 30px;
}