*{
  box-sizing: border-box;
  font-family: "맑은 고딕";
}
#container {
  width: 1000px;
  margin: 0 auto;
}
header {
  text-align: center;
}
nav {
  background-color: black;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  float: left;
  list-style: none;
}
nav li:last-child {
  float: right;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}
nav a:hover {
  background-color: yellow;
  color: black;
}
aside {
  float: left;
  width: 200px;
  height: 500px;
  text-align: center;
  background-color: #ccc;
}
section {
  background-color: white;
  float: left;
  text-align: center;
  width: 600px;
  height: 500px;
  padding: 10px;
}

form {
  width: 500px;
  margin: 0 auto;
  background-color: #ddd;
  padding: 10px;
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
  font-size: 20px;
}

form ul {
  padding: 0;
}

form li {
  border-radius: 5px;
  border: 1px solid white;
  background: rgba(255, 255,255 ,0.5);
  /* opacity: 0.5; */
  padding: 5px;
  margin: 5px;
  list-style: none;
}
form label {
  width: 130px;
  display: inline-block;
}
form input {
  width: 250px;
  padding: 3px;
  border: 2px solid #ccc;
}

button {
  width: 150px;
  border-radius: 30px;
  border: none;
  background-color: #fef;
  padding: 15px;
  font-weight: bold;
}

footer {
  clear: both;
  padding: 10px;
  background-color: #ddd;
  text-align: center;
}

