#container {
  width: 600px;
  margin: 0 auto;

}

img {
  width: 100%;
}

#check {
  border: 1px solid rgb(73, 73, 73);
  border-collapse: collapse; /* 테두리 통합 */
  text-align: center;
}

h1 {
  text-align: left;
  background-color: black;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin: 0;
}


h2{
  color: #f00;
  font-size: 1.5em;
}

p{
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2em;
}

.accent {
  color :blue
}

.smalltext {
  font-size: 0.7em;
}
